<div style="background-color: #272738; width: 100%; height: auto; text-align: center"><br>
     <span style="position:relative; margin-right: 200px; color: white; font-size: 10px;">Welcome to:</span><br>
     <img style="width: 280px" src="assets/logos/letrablanca.png" alt="" [routerLink]="['/inicio']">

     <br>
     <div style="display: flex; justify-content: center;">
          <hr style="width: 1100px; color: white;">
     </div>

     <div class="contenedor">
          <div class="contenedor-botones">
            <button class="boton cuatro" routerLink="/inicio"><span>Inicio</span>
              <svg><rect x="0" y="0" fill="none"></rect></svg></button>

              <button class="boton cuatro" routerLink="/hombre"><span>Para él</span>
                <svg><rect x="0" y="0" fill="none"></rect></svg></button>

              <button class="boton cuatro" routerLink="/mujer"><span>Para ella</span>
                <svg><rect x="0" y="0" fill="none"></rect></svg></button>

              <button class="boton cuatro" routerLink="/unisex"><span>Para ambos</span>
                <svg><rect x="0" y="0" fill="none"></rect></svg></button>

          </div>

          <div>
               <hr style="width: 1100px; color: white;">
          </div>
<br>
     </div>
</div>
<br><br>
<div style="margin:10px; text-align: center;">

  <div style="background-color: #baefff; width: 49%; float: right; height: 565px; border-radius: 12px;"><br>
    <div>
     <h1>Visitanos</h1>
    </div>

    <div style="padding-left: 213px;"><hr style="width: 300px;"></div>

<br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.956214602665!2d-100.74686528470356!3d20.914081186060645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b51b0b6a94d1d%3A0x79be28a06d1ce0b0!2sUmar%C3%A1n%207%2C%20Zona%20Centro%2C%2037700%20San%20Miguel%20de%20Allende%2C%20Gto.!5e0!3m2!1ses!2smx!4v1670204113701!5m2!1ses!2smx" width="670" height="370" style="border:0;" allowfullscreen="" ></iframe>
  </div>

  <div style="background-color: #c9d7ff; width: 48%; height: 565px; border-radius: 12px;"><br>
    <div>
      <h1>Contáctanos</h1>
    </div>

    <div style="padding-left: 213px;"><hr style="width: 300px;"></div>

  <div>

    <br>
    <div style="float: right;">
      <img style="width: 30px" src="assets/contacto/telefono.png" alt="">

      <div style="float:right; padding-right: 285px;">
        <h5>&nbsp; +52 81 3560 6863</h5>
      </div>
    </div>

<br><br><br>

    <div style="float: right;">
      <img style="width: 30px" src="assets/contacto/email.png" alt="">

      <div style="float:right; padding-right: 245px;">
        <h5>&nbsp;alpacashop11@gmail.com</h5>
      </div>
    </div>

    <br><br><br>

    <div style="float: right;">
      <a href="https://www.instagram.com/alpacashopsma/?hl=es-la"><img style="width: 30px" src="assets/contacto/instagram.png" alt=""></a>

      <div style="float:right; padding-right: 300px;">
        <h5><a style="text-decoration: none; color: black;" href="https://www.instagram.com/alpacashopsma/?hl=es-la">&nbsp;alpacashopsma</a></h5>
      </div>
    </div>

    <br><br><br>

    <div style="float: right;">
      <a href="https://www.facebook.com/profile.php?id=100088399569556"><img style="width: 30px" src="assets/contacto/facebook.png" alt=""></a>

      <div style="float:right; padding-right: 310px;">
        <h5><a style="text-decoration: none; color: black;" href="https://www.facebook.com/profile.php?id=100088399569556">&nbsp;Alpaca Shop</a></h5>
      </div>
    </div>
<br><br><br>
    <div style="padding-left: 240px;"><hr style="width: 250px;"></div>

  </div>

  <img width="240px" src="assets/logos/letranegra.png" alt="">
</div>
<br><br>
</div>

<div style="background-color:#272738; text-align: center; width: 100%;height: auto; padding-top: 30px; padding-bottom: 30px; padding-left: 30px;">

  <div style="text-align: center">
    <img width="150px" src="assets/logos/letrablanca.png">
  </div>

    <br>

    <span style="color: white;" >ALPACA SHOP - COPYRIGHT 2022 © POWERED BY ALPACA TEAM</span>
    <br>
    <span style="color: white;" >INSTITUTO SANMIGUELENSE - GESTIÓN EMPRESARIAL / LICENCIATURA EN DISEÑO</span>
</div>

