<div style="background-color: #57c4e5; width: 100%; height: auto; text-align: center"><br>
     <span style="position:relative; margin-right: 200px; color: white; font-size: 10px;">Welcome to:</span><br>
     <img style="width: 280px" src="assets/logos/letrablanca.png" alt="" [routerLink]="['/inicio']">

     <br>
     <div style="display: flex; justify-content: center;">
          <hr style="width: 1100px;">
     </div>

     <div class="contenedor">
          <div class="contenedor-botones">
            <button class="boton cuatro" routerLink="/inicio"><span>Inicio</span>
              <svg><rect x="0" y="0" fill="none"></rect></svg></button>

              <button class="boton cuatro" routerLink="/mujer"><span>Para ella</span>
                <svg><rect x="0" y="0" fill="none"></rect></svg></button>

              <button class="boton cuatro" routerLink="/unisex"><span>Para ambos</span>
                <svg><rect x="0" y="0" fill="none"></rect></svg></button>

              <button class="boton cuatro" routerLink="/contacto"><span>Contáctanos</span>
                <svg><rect x="0" y="0" fill="none"></rect></svg></button>
          </div>

          <div>
               <hr style="width: 1100px">
               <br>
          </div>

     </div>
</div>
<div
     style="background: url('assets/hombre/alpaca_hombre_v2.png'); background-size:cover; background-repeat: no-repeat; background-attachment: fixed; padding-left: 90px;">
     <header class="hero"></header>
     <section class="mat-typograhy">

          <div class="row col-10 g-2" style=" margin-top: -500px; margin-right: 100px;" [routerLink]="['/contacto']">
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;">
                    <img src="assets/Playeras/hombre/babyyoda.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera The Mandalorian </h5>
                         <p class="card-text"> S - M - XL </p>
                         <p class="card-text">$399</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px;margin-left: 30px;">
                    <img src="assets/Playeras/hombre/bruce_lee.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Bruce Lee Dj (dj Dragón)</h5>
                         <p class="card-text"> S - M </p>
                         <p class="card-text">$399</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;">
                    <img src="assets/Playeras/hombre/cathulhu.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Cthullu Gatito Poster Vintage</h5>
                         <p class="card-text"> S - M - L - XL </p>
                         <p class="card-text">$289</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;">
                    <img src="assets/Playeras/hombre/kill_bill.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Kill Bill</h5>
                         <p class="card-text"> S - M - L - XL </p>
                         <p class="card-text">$399</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;">
                    <img src="assets/Playeras/hombre/lether_face.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Leatherface</h5>
                         <p class="card-text"> S - M - L - XL</p>
                         <p class="card-text">$399</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/majinboo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Majin Boo-cereal</h5>
                         <p class="card-text">S - M</p>
                         <p class="card-text">$299</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/megalodon.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Jaws - Tiburón</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$399</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/Piramide.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Teotihuacán Ovni </h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$219</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/pizza.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Pizza Satánica Cabra</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$289</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/psycho.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera American Psycho</h5>
                         <p class="card-text">M - XL</p>
                         <p class="card-text">$399</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/rocky.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Rocky</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$399</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/toy_scary.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Toy Scary</h5>
                         <p class="card-text">M</p>
                         <p class="card-text">$399</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/vegeta_white.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera T-shirt Dragon Ball Vegeta (White)</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$289</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/vegeta.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera T-shirt Dragon Ball Vegeta</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$289</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/deadpool.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera T-shirt Deadpool Chibi</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$289</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/dragon.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Gráfica Dragon Sushi Cool T Shirt </h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$289</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/calavera.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera T-shirt Calavera Día De Muertos </h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$289</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/nasa.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera T-shirt Nasa Espacio</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$289</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/ola.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera T-shirt La Gran Ola De Kanagawa</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$289</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/fine.png" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera I'm Fine Meme Fuego Perrito</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$289</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/hmgoepprod_(1).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">CASUAL GERUIT OVERSHIRT</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$2045</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/hmgoepprod_(4).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Upspec crew neck long sleevet</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$886</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/hmgoepprod_(5).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Bane sherpa high neck</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$1299</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/hmgoepprod_(30)v2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Vintage Barbour Northumbria</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$1099</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/hmgoepprod_(31)v2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Tim Coppens</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$1799</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                    <img src="assets/Playeras/hombre/hmgoepprod.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Christian Pellizzari</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$886</p>
                    </div>
               </div>
          </div>
     </section>

     <br><br>
</div>

<div style="background-color: #57c4e5; text-align: center; width: auto;height: auto; padding-top: 30px; padding-bottom: 30px; padding-left: 30px;">

  <div style="text-align: center">
    <img width="150px" src="assets/logos/letrablanca.png">
  </div>

    <br>

    <span style="color: white;" >ALPACA SHOP - COPYRIGHT 2022 © POWERED BY ALPACA TEAM</span>
    <br>
    <span style="color: white;" >INSTITUTO SANMIGUELENSE - GESTIÓN EMPRESARIAL / LICENCIATURA EN DISEÑO</span>
</div>

<div></div>

