
<div style="background-color: #ff6e4a; width: 100%; height: auto; text-align: center"><br>
     <span style="position:relative; margin-right: 200px; color: white; font-size: 10px;">Welcome to:</span><br>
     <img style="width: 280px" src="assets/logos/letrablanca.png"  alt="">

     <br>
     <div style="display: flex; justify-content: center;">
          <hr style="width: 1100px;">
     </div>

     <div class="contenedor">
          <div class="contenedor-botones">
            <button class="boton cuatro" routerLink="/inicio"><span>Inicio</span>
              <svg><rect x="0" y="0" fill="none"></rect></svg></button>

              <button class="boton cuatro" routerLink="/hombre"><span>Para él</span>
                <svg><rect x="0" y="0" fill="none"></rect></svg></button>

              <button class="boton cuatro" routerLink="/unisex"><span>Para ambos</span>
                <svg><rect x="0" y="0" fill="none"></rect></svg></button>

              <button class="boton cuatro" routerLink="/contacto"><span>Contáctanos</span>
                <svg><rect x="0" y="0" fill="none"></rect></svg></button>
          </div>

          <div>
               <hr style="width: 1100px">
               <br>
          </div>

     </div>
</div>
<div
     style="background: url('assets/mujer/alpaca_mujer_v2.png'); background-size:cover; background-repeat: no-repeat; background-attachment: fixed; padding-left: 90px;">
     <header class="hero"></header>
     <section class="mat-typograhy">

          <div class="row col-10 g-2" style=" margin-top: -500px; margin-right: 100px;" [routerLink]="['/contacto']">
               <div class="card" style="width: 20rem;height: 470px; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/angel.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Estampada C&a</h5>
                         <p class="card-text">S - M - XL</p>
                              <p class="card-text">$149</p>
                    </div>
               </div>

               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/adidas.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera adidas Loungewear</h5>
                         <p class="card-text">XS</p>
                              <p class="card-text">549</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/bicho.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Karol G Bichota</h5>
                         <p class="card-text">M</p>
                              <p class="card-text">$160</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/champoo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Champoo</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$299</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/chem.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Cheems</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$299</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/clock.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera 1028 A Clockwork</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$227</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/collar.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Manga Corta</h5>
                         <p class="card-text">S - M - L</p>
                              <p class="card-text">$129</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/corazon.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Camiseta Con Corazón De Dedo</h5>
                         <p class="card-text">S</p>
                              <p class="card-text">$95</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/flor.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Blusa Floral </h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$144</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/gun.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title"> Camiseta Guns N' Roses</h5>
                         <p class="card-text">S - XL</p>
                              <p class="card-text">$249</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/hakuna.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playeras Hakuna Matata</h5>
                         <p class="card-text">M - L - XL - 2XL</p>
                              <p class="card-text">$99</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/labios.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Camiseta Informal Con Lentejuelas Y Labios</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">134</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/leotardo.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Leotardo Manga Larga</h5>
                         <p class="card-text">M</p>
                              <p class="card-text">$163</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/micky.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Blusa Moda Casual Elegante Mickey</h5>
                         <p class="card-text">S - M - L - XL -2XL -3XL</p>
                              <p class="card-text">$140</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/ny.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Camiseta De Manga Corta NY</h5>
                         <p class="card-text"> XL</p>
                              <p class="card-text">$167</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/paris.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Manga Larga Comfort Fit</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$199</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/rib.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera C&a</h5>
                         <p class="card-text">S - M - L - XL</p>
                         <p class="card-text">$199</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/rr.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera Negra Androide 17</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$299</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/sexy.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Playera camiseta Negra Sin Mangas Irregular Sexy</h5>
                         <p class="card-text">M - L - XL</p>
                              <p class="card-text">$79</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/hmgoepprod_(19).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Long-sleeved body</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$265</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/hmgoepprod_(8).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Vestido cruzado de lentejuelas</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$818</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/hmgoepprod_(9).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Jorge Crew Neck Jumper</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$736</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/hmgoepprod_(10).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Louis At Home Riviera Satin</h5>
                         <p class="card-text">S - M</p>
                              <p class="card-text">$265</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/hmgoepprod_(11).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">TOM FORD</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$790</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/hmgoepprod_(12).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Short Casual Dress</h5>
                         <p class="card-text">M</p>
                              <p class="card-text">$542</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/hmgoepprod_(20).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Coastline Playsuit </h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$4435</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/hmgoepprod_(24).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Robe pull </h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$307</p>
                    </div>
               </div>
               <div class="card" style="width: 20rem; margin-left: 30px;">
                    <img src="assets/Playeras/mujer/hmgoepprod_(29).jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                         <h5 class="card-title">Airy vestido de gasa estampado</h5>
                         <p class="card-text">S - M - L - XL</p>
                              <p class="card-text">$1443</p>
                    </div>
               </div>
          </div>
     </section>
     <br><br>
</div>

<div style="background-color:#ff6e4a; text-align: center; width: auto;height: auto; padding-top: 30px; padding-bottom: 30px; padding-left: 30px;">

  <div style="text-align: center">
    <img width="150px" src="assets/logos/letrablanca.png">
  </div>

    <br>

    <span style="color: white;" >ALPACA SHOP - COPYRIGHT 2022 © POWERED BY ALPACA TEAM</span>
    <br>
    <span style="color: white;" >INSTITUTO SANMIGUELENSE - GESTIÓN EMPRESARIAL / LICENCIATURA EN DISEÑO</span>
</div>
