
<div style="background-color: #EDF2EF; width: 100%; height: auto; text-align: center"><br>
  <span style="position:relative; margin-right: 200px; color: black; font-size: 10px;">Welcome to:</span><br>
  <img style="width: 280px" src="assets/logos/letranegra.png" alt="">

  <br>
  <div style="display: flex; justify-content: center;">
       <hr style="width: 1100px;">
  </div>

  <div class="contenedor">
       <div class="contenedor-botones">

        <button class="boton cuatro" routerLink="/inicio"><span>Inicio</span>
          <svg>
               <rect x="0" y="0" fill="none"></rect>
          </svg></button>

            <button class="boton cuatro" routerLink="/hombre"><span>Para él</span>
                 <svg>
                      <rect x="0" y="0" fill="none"></rect>
                 </svg></button>

            <button class="boton cuatro" routerLink="/mujer"><span>Para ella</span>
                 <svg>
                      <rect x="0" y="0" fill="none"></rect>
                 </svg></button>

            <button class="boton cuatro" routerLink="/contacto"><span>Contáctanos</span>
                 <svg>
                      <rect x="0" y="0" fill="none"></rect>
                 </svg></button>
       </div>

       <div>
            <hr style="width: 1100px">
       </div>
<hr>
  </div>
</div>
<div
  style="background: url('assets/unisex/alpaca_unisex.png'); background-size:cover; background-repeat: no-repeat; background-attachment: fixed; padding-left: 90px;">
  <header class="hero"></header>
  <section class="mat-typograhy">

     <div class="row col-10 g-2" style=" margin-top: -500px; margin-right: 100px;" [routerLink]="['/contacto']">
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px; background-color: #EDF2EF;">
                 <img src="assets/Playeras/ropa/cala.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Sublimada Jackass</h5>
                      <p class="card-text">XL - 2XL - 3XL</p>
                      <p class="card-text">$385</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px;margin-left: 30px;">
                 <img src="assets/Playeras/ropa/chain.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Chainsaw Man</h5>
                      <p class="card-text"> L - XL</p>
                      <p class="card-text">$268</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;">
                 <img src="assets/Playeras/ropa/cup.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Cuphead </h5>
                      <p class="card-text"> S - M - L - XL - 2XL</p>
                      <p class="card-text">$259</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;">
                 <img src="assets/Playeras/ropa/dark.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Darth Vader</h5>
                      <p class="card-text"> S - M - L </p>
                      <p class="card-text">$208</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;">
                 <img src="assets/Playeras/ropa/gatito.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Monsters Inc</h5>
                      <p class="card-text"> S - M - L - XL</p>
                      <p class="card-text">$229</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/green.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Deportiva</h5>
                      <p class="card-text">S - M - L - XL</p>
                      <p class="card-text">$95</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/gru.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Gruesa</h5>
                      <p class="card-text">S - M - L - XL</p>
                      <p class="card-text">$170</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/hell.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Hell Fire</h5>
                      <p class="card-text">XL - 2XL - 3XL</p>
                      <p class="card-text">$223</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/mandalorian.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera The Mandalorian</h5>
                      <p class="card-text">S - M - L - XL</p>
                      <p class="card-text">$251</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/mario.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Mario Bros</h5>
                      <p class="card-text">S - M - L - XL</p>
                      <p class="card-text">$229</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/maruchan.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Sopa Maruchan</h5>
                      <p class="card-text">S - M - L - XL</p>
                      <p class="card-text">$225</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/muse.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Muse</h5>
                      <p class="card-text">S - M - L - XL</p>
                      <p class="card-text">$319</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/notas.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Camiseta Musica Clasica</h5>
                      <p class="card-text">S - M - L - XL</p>
                      <p class="card-text">$209</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/nov.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Noviembre 1972</h5>
                      <p class="card-text">S - M - L - XL - 2XL</p>
                      <p class="card-text">$259</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/ny.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Yankees Ny</h5>
                      <p class="card-text">S - M - L - XL</p>
                      <p class="card-text">$289</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/pika.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Pokemon Pikachu</h5>
                      <p class="card-text">S - M - L - XL</p>
                      <p class="card-text">$259</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/shalom.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Cristiana</h5>
                      <p class="card-text">S - M - L </p>
                      <p class="card-text">$200</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/sol.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Star Wars Darth Vader </h5>
                      <p class="card-text">S L</p>
                      <p class="card-text">$198</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/sqx.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Chicago White Sox</h5>
                      <p class="card-text">S - M - L - XL</p>
                      <p class="card-text">$249</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/star.png" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">Playera Star Wars</h5>
                      <p class="card-text"> M - L - XL</p>
                      <p class="card-text">$198</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/hmgoepprod_(2).jpeg" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">LC2410S Rust Camel</h5>
                      <p class="card-text"> S - M - L - XL</p>
                      <p class="card-text">$1392</p>
                 </div>
            </div>
            <div class="card" style="width: 20rem; height: 470px; margin-left: 30px;" [routerLink]="['/contacto']">
                 <img src="assets/Playeras/ropa/hmgoepprod_(3).jpeg" class="card-img-top" alt="...">
                 <div class="card-body">
                      <h5 class="card-title">TALL KURTKA</h5>
                      <p class="card-text"> S - M - L - XL</p>
                      <p class="card-text">$2006</p>
                 </div>
            </div>
       </div>
  </section>
  <br><br>
</div>

<div style="background-color:#EDF2EF; text-align: center; width: auto;height: auto; padding-top: 30px; padding-bottom: 30px; padding-left: 30px;">

  <div style="text-align: center">
    <img width="150px" src="assets/logos/letranegra.png">
  </div>

    <br>

    <span style="color: black;" >ALPACA SHOP - COPYRIGHT 2022 © POWERED BY ALPACA TEAM</span>
    <br>
    <span style="color: black;" >INSTITUTO SANMIGUELENSE - GESTIÓN EMPRESARIAL / LICENCIATURA EN DISEÑO</span>
</div>

