<div style="background-color:rgb(33,39, 56); text-align: center; width: auto;height: auto; padding-top: 30px; padding-bottom: 30px; padding-left: 30px;">

    <div style="text-align: center">
      <img width="150px" src="assets/logos/letrablanca.png">
    </div>

      <br>

      <span style="color: white;" >ALPACA SHOP - COPYRIGHT 2022 © POWERED BY ALPACA TEAM</span>
      <br>
      <span style="color: white;" >INSTITUTO SANMIGUELENSE - GESTIÓN EMPRESARIAL / LICENCIATURA EN DISEÑO</span>
  </div>
