<div class="fondo2">
<div style="background-color: #F97068; width: 100%; height: auto; text-align: center"><br>
  <span style="position:relative; margin-right: 200px; color: white; font-size: 10px;">Welcome to:</span><br>
  <img style="width: 280px" src="assets/logos/letrablanca.png" alt="">

<br>
<div style="display: flex; justify-content: center;"><hr style="width: 1100px;"></div>

  <div class="contenedor">
    <div class="contenedor-botones">

        <button class="boton cuatro" routerLink="/hombre"><span>Para él</span>
          <svg><rect x="0" y="0" fill="none"></rect></svg></button>

        <button class="boton cuatro" routerLink="/mujer"><span>Para ella</span>
          <svg><rect x="0" y="0" fill="none"></rect></svg></button>

        <button class="boton cuatro" routerLink="/unisex"><span>Para ambos</span>
          <svg><rect x="0" y="0" fill="none"></rect></svg></button>

        <button class="boton cuatro" routerLink="/contacto"><span>Contáctanos</span>
          <svg><rect x="0" y="0" fill="none"></rect></svg></button>
    </div>

    <div ><hr style="width: 1100px"></div>
<br>
  </div>
</div>

<br>
<div style="background-color:#e6ceff; width: 100%; height: 290px;">

  <div style="padding-left: 120px; padding-top: 30px;">
    <div style="text-align: center; margin: 20px; width: 500px; float: left;">
      <h4>Alpaca es una empresa mexicana que lleva en el mercado 10 años,
        somos una marca que se dedica al comercio de ropa
        reutilizada a precios asequibles al publico con
        cede en San Miguel de Allende, Gto. Hemos trabajado con muchos exportadores
        mexicanos y grades diseñadores de pais.</h4>
    </div>
  </div>

  <div style="padding-right: 240px;">
    <img style="float: right; width: 320px; border-radius: 50%;" src="assets/inicio/eli1.jpeg" alt="">
  </div>

</div>

<br><br>

<div style="padding-left: 510px;">
  <div style="text-align: center; background-color: #57C4E5; width: 450px; border-radius: 10px;">
    <h2 style="color: whitesmoke">- NUESTRAS TENDENCIAS -<br> PARA ÉL</h2>
  </div>
</div>

<br>

<div class="fondo" style="background-image: url(assets/inicio/fondo2.jpg); background-attachment: fixed;">

<div style="padding-left: 160px; position: absolute">
  <img style="width: 350px; border-radius: 12px;" src="assets/inicio/sebas1.jpeg" alt="">
</div>

<div style="padding-left: 540px; position: absolute">
  <img style="width: 200px; border-radius: 12px; " src="assets/inicio/furbi1.jpeg" alt="">
</div>

<div style="padding-left: 770px; position: absolute">
  <img style="width: 590px; border-radius: 12px; " src="assets/inicio/ropa1.jpg" alt="">
</div>

<div style="padding-left: 540px; position: absolute; padding-top: 295px;">
  <img style="width: 305px; border-radius: 12px; " src="assets/inicio/modelo1.jpg" alt="">
</div>

<div style="padding-left: 875px; position: absolute; padding-top: 195px;">
  <img style="width: 204px; border-radius: 12px; " src="assets/inicio/kilian4.jpeg" alt="">
</div>

<div style="padding-left: 1130px; position: absolute; padding-top: 215px;">
  <img style="width: 180px; border-radius: 12px; " src="assets/inicio/antonio3.jpeg" alt="">
</div>

<div style="padding-left: 768px; position: absolute; padding-top: 190px;">
  <img style="width: 80px; border-radius: 12px; " src="assets/inicio/cuadros.jpg" alt="">
</div>

</div>

<div class="fondo2">

<br><br>

    <div style="padding-left: 510px;">
      <div style="text-align: center; background-color: #ffa29d; width: 450px; border-radius: 10px;">
        <h2 style="color: whitesmoke">- NUESTRAS TENDENCIAS -<br> PARA ELLA</h2>
      </div>
    </div>

<br>

<div class="fondo" style="background-image: url(assets/inicio/fondo1.jpg); background-attachment: fixed;">


    <div style="padding-left: 555px; position: absolute">
      <img style="width: 240px; border-radius: 12px;" src="assets/inicio/modela1.jpg" alt="">
    </div>

    <div style="padding-left: 160px; position: absolute">
      <img style="width: 340px; border-radius: 12px; " src="assets/inicio/modela2.jpg" alt="">
    </div>

    <div style="padding-left: 190px; position: absolute; padding-top: 255px;">
      <img style="width: 335px; border-radius: 12px; " src="assets/inicio/modela3.jpg" alt="">
    </div>

    <div style="padding-left: 822px; position: absolute; padding-top: 250px;">
      <img style="width: 305px; border-radius: 12px; " src="assets/inicio/eli1.jpeg" alt="">
    </div>

    <div style="padding-left: 822px; position: absolute;">
      <img style="width: 176px; border-radius: 12px; " src="assets/inicio/modela5.jpg" alt="">
    </div>

    <div style="padding-left: 1009px; position: absolute; padding-top: 20px">
      <img style="width: 120px; border-radius: 12px; " src="assets/inicio/modela6.jpg" alt="">
    </div>

    <div style="padding-left: 1140px; position: absolute;">
      <img style="width: 220px; border-radius: 12px; " src="assets/inicio/eli6.jpeg" alt="">
    </div>

    <div style="padding-left: 1186px; position: absolute; padding-top: 308px">
      <img style="width: 120px; border-radius: 12px; " src="assets/inicio/modela7.jpg" alt="">
    </div>

    <div style="padding-left: 595px; position: absolute; padding-top: 372px;">
      <img style="width: 160px; border-radius: 12px; " src="assets/inicio/cuadrado2.jpg" alt="">
    </div>

</div>

<div class="fondo2">

<br><br>
    <div style="padding-left: 510px;">
      <div style="text-align: center; background-color: #c8f2ff; width: 450px; border-radius: 10px;">
        <h2 style="color: #ffc1be">- NUESTRAS TENDENCIAS -<br> PARA AMBOS</h2>
      </div>
    </div>

<br>

<div class="fondo" style="background-image: url(assets/inicio/fondo3.jpg); background-attachment: fixed;">

  <div style="padding-left: 160px; position: absolute">
    <img style="width: 240px; border-radius: 12px;" src="assets/inicio/cuadro3.jpg" alt="">
  </div>

  <div style="padding-left: 160px; position: absolute; padding-top: 184px;">
    <img style="width: 470px; border-radius: 12px;" src="assets/inicio/modelos1.jpg" alt="">
  </div>

  <div style="padding-left: 430px; position: absolute;">
    <img style="width:230px; border-radius: 12px; " src="assets/inicio/modelos3.jpg" alt="">
  </div>

  <div style="padding-left: 692px; position: absolute; padding-top: 35px;">
    <img style="width: 305px; border-radius: 12px; " src="assets/inicio/modelos6.jpg" alt="">
  </div>

  <div style="padding-left: 1020px; position: absolute;">
    <img style="width: 176px; border-radius: 12px; " src="assets/inicio/modelos2.jpg" alt="">
  </div>

  <div style="padding-left: 1040px; position: absolute; padding-top: 250px">
    <img style="width: 130px; border-radius: 12px; " src="assets/inicio/modelos4.jpg" alt="">
  </div>

  <div style="padding-left: 1225px; position: absolute;padding-top: 30px;">
    <img style="width: 120px; border-radius: 12px; " src="assets/inicio/modelos5.jpg" alt="">
  </div>

  <div style="padding-left: 1220px; position: absolute; padding-top: 260px">
    <img style="width: 100px; border-radius: 12px; " src="assets/inicio/modelos7.jpg" alt="">
  </div>


</div>
</div>

<div style="background-color:#F97068; text-align: center; width: auto;height: auto; padding-top: 30px; padding-bottom: 30px; padding-left: 30px;">

  <div style="text-align: center">
    <img width="150px" src="assets/logos/letrablanca.png">
  </div>

    <br>

    <span style="color: white;" >ALPACA SHOP - COPYRIGHT 2022 © POWERED BY ALPACA TEAM</span>
    <br>
    <span style="color: white;" >INSTITUTO SANMIGUELENSE - GESTIÓN EMPRESARIAL / LICENCIATURA EN DISEÑO</span>
</div>

